.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
.coa-re2014 div, .coa-re2014 span, .coa-re2014 object, .coa-re2014 iframe,
.coa-re2014 h1, .coa-re2014 h2, .coa-re2014 h3, .coa-re2014 h4, .coa-re2014 h5, .coa-re2014 h6, .coa-re2014 p, .coa-re2014 blockquote, .coa-re2014 pre,
.coa-re2014 abbr, .coa-re2014 address, .coa-re2014 cite, .coa-re2014 code,
.coa-re2014 del, .coa-re2014 dfn, .coa-re2014 em, .coa-re2014 img, .coa-re2014 ins, .coa-re2014 kbd, .coa-re2014 q, .coa-re2014 samp,
.coa-re2014 small, .coa-re2014 strong, .coa-re2014 sub, .coa-re2014 sup, .coa-re2014 var,
.coa-re2014 b, .coa-re2014 i,
.coa-re2014 dl, .coa-re2014 dt, .coa-re2014 dd, .coa-re2014 ol, .coa-re2014 ul, .coa-re2014 li,
.coa-re2014 fieldset, .coa-re2014 form, .coa-re2014 label, .coa-re2014 legend,
.coa-re2014 table, .coa-re2014 caption, .coa-re2014 tbody, .coa-re2014 tfoot, .coa-re2014 thead, .coa-re2014 tr, .coa-re2014 th, .coa-re2014 td,
.coa-re2014 article, .coa-re2014 aside, .coa-re2014 canvas, .coa-re2014 details, .coa-re2014 figcaption, .coa-re2014 figure,
.coa-re2014 footer, .coa-re2014 header, .coa-re2014 hgroup, .coa-re2014 menu, .coa-re2014 nav, .coa-re2014 section, .coa-re2014 summary,
.coa-re2014 time, .coa-re2014 mark, .coa-re2014 audio, .coa-re2014 video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.coa-re2014 article, .coa-re2014 aside, .coa-re2014 details, .coa-re2014 figcaption, .coa-re2014 figure,
.coa-re2014 footer, .coa-re2014 header, .coa-re2014 hgroup, .coa-re2014 menu, .coa-re2014 nav, .coa-re2014 section {
  display: block;
}
.coa-re2014 nav ul {
  list-style: none;
}
.coa-re2014 blockquote, .coa-re2014 q {
  quotes: none;
}
.coa-re2014 blockquote:before, .coa-re2014 blockquote:after,
.coa-re2014 q:before, .coa-re2014 q:after {
  content: '';
  content: none;
}
.coa-re2014 a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.coa-re2014 del {
  text-decoration: line-through;
}
.coa-re2014 abbr[title], .coa-re2014 dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
.coa-re2014 table {
  border-collapse: collapse;
  border-spacing: 0;
}
.coa-re2014 input, .coa-re2014 select {
  vertical-align: middle;
}

.coa-re2014 ul, .coa-re2014 li, .coa-re2014 p {
  margin-top: 0;
}
.coa-re2014 a {
  color: #004b99 !important;
}
.coa-re2014 a:hover, .coa-re2014 a:focus {
  color: #0070e6 !important;
  text-decoration: none;
}
.coa-re2014 .inline.inline {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.coa-re2014 .flr {
  float: right;
}
.coa-re2014 .fll {
  float: left;
}
.coa-re2014 .pos-r {
  position: relative;
}

.coa-re2014 [class^="icon-"], .coa-re2014 [class*=" icon-"] {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.coa-re2014 .icon-double-arrow-r {
  background: url(../img/icon-double-arrow-r.png) no-repeat center center;
}
.coa-re2014 .icon-k-list-style {
  width: 20px;
  height: 20px;
  background: url(../img/knowledge-list-icon.png) no-repeat center center;
  font-size: 12px;
  font-style: inherit;
  line-height: 1.7;
  text-align: center;
  color: #fff;
}

.col-10, .col-20, .col-25, .col-30, .col-33, .col-40, .col-50, .col-60, .col-66, .col-70, .col-75, .col-80, .col-90 {
  float: left;
}

.col-10 {
  width: 10%;
}

.col-20 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

/* 1/4 */
.col-30 {
  width: 30%;
}

.col-33 {
  width: 33.333%;
}

/* 1/3 */
.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

/* 1/2 */
.col-60 {
  width: 60%;
}

.col-66 {
  width: 66.666%;
}

/* 2/3 */
.col-70 {
  width: 70%;
}

.col-75 {
  width: 75%;
}

/* 3/4*/
.col-80 {
  width: 80%;
}

.col-90 {
  width: 90%;
}

.coa-re2014 .fn-section {
  margin-bottom: 10px;
}
.coa-re2014 .fn-title-box {
  margin-bottom: 10px;
  min-height: 36px;
  background: url(../img/title-deco.png) no-repeat left bottom;
}
.coa-re2014 .fn-title {
  display: inline-block;
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  vertical-align: middle;
  color: #333333;
}
.coa-re2014 .more-box {
  display: inline-block;
  vertical-align: middle;
}
.coa-re2014 .more-link {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border-bottom: 1px solid #003e80;
  font-size: 13px;
  line-height: 1.2;
}
.coa-re2014 .more-link:hover {
  border-bottom: 1px solid #0064cc;
}
.coa-re2014 .fn-list {
  list-style: none;
}
.coa-re2014 .fn-list-item {
  float: none;
  margin-bottom: 10px;
  padding: 10px 0 0;
}
.coa-re2014 .new-deco .fn-list-item + .fn-list-item {
  border-top: 1px dashed #999999;
}
.coa-re2014 .fn-list-link {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 15px;
  background: none;
  line-height: 1.5;
  white-space: normal;
}
.coa-re2014 .hot-recommend {
  margin: 0 -12px 10px;
  padding: 0;
  border-top: 3px double #ddd;
  border-bottom: 3px double #ddd;
  background: #f9f9f9;
}
.coa-re2014 .hot-box {
  position: relative;
  margin: 0 206px 0 0;
  padding: 15px 15px 0;
}
.coa-re2014 .cycle-pic-box {
  position: relative;
  float: left;
  height: 230px;
  width: 234px;
  background: url(../img/hot-pic.png) no-repeat;
  text-align: center;
}
.coa-re2014 .pic-box {
  padding: 8px 0 0 16px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.coa-re2014 .pic-box img {
  width: 200px;
}
.coa-re2014 .cycle-pic-board {
  position: absolute;
  top: -10px;
  left: 50px;
  height: 32px;
  width: 134px;
  background: url(../img/hot-recommend.png) no-repeat center center;
  z-index: 99;
}
.coa-re2014 .cycle-content-box {
  min-width: 265px;
  margin-left: 240px;
  padding: 8px 0 0;
}
.coa-re2014 .cycle-title {
  margin-bottom: 8px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.coa-re2014 .cycle-title a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 24px;
}
.coa-re2014 .cycle-article {
  max-height: 107px;
  font-size: 15px;
  line-height: 1.5;
  overflow: hidden;
}
.coa-re2014 .cycle-page-box {
  position: absolute;
  top: 215px;
  right: 25px;
  left: 23px;
  z-index: 999;
  margin: 0 0 0 240px;
}
.coa-re2014 .page-btn {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 12px;
  vertical-align: middle;
}
.coa-re2014 .hot-pager {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.coa-re2014 .hot-pager span {
  font-size: 23px;
  color: #999999;
  cursor: pointer;
}
.coa-re2014 .hot-pager span.cycle-pager-active {
  color: #0070e6;
}
.coa-re2014 .day-star-box {
  position: relative;
  float: right;
  padding: 20px;
  width: 170px;
  height: 205px;
  background: #fff;
}
.coa-re2014 .day-star-box:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 4px;
  content: "";
  background: url(../img/star-deco-v.png) center center no-repeat;
}
.coa-re2014 .day-star-pic {
  margin-bottom: 8px;
  width: 170px;
  height: 130px;
  overflow: hidden;
}
.coa-re2014 .day-star-pic img {
  width: 170px;
}
.coa-re2014 .day-star-board {
  position: absolute;
  top: -35px;
  right: -15px;
  width: 80px;
  height: 80px;
  background: url(../img/day-star.png) no-repeat center center;
  z-index: 99;
}
.coa-re2014 .plant-name a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 18px;
  line-height: 1.5;
}
.coa-re2014 .scientific-name {
  display: block;
  margin: 0 0 3px 0;
  height: 28px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.2;
}
.coa-re2014 .tip-box {
  display: block;
}
.coa-re2014 .date-box, .coa-re2014 .news-box {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
  color: #999999;
  line-height: 1.2;
}
.coa-re2014 .date-box.flr {
  padding: 4px 0 0 0;
}
.coa-re2014 .tip-title {
  color: #999999;
}
.coa-re2014 .tip-kind {
  color: #333333;
}
.coa-re2014 .k-bg {
  margin: 0 -12px 10px;
  padding: 10px 12px 30px;
  background: #f5f3f1;
  border-top: 1px solid #cfcac5;
  border-bottom: 1px solid #cfcac5;
}
.coa-re2014 .k-bg .k-link-box {
  margin-left: 25px;
}
.coa-re2014 .k-link-box {
  margin-right: 100px;
}
.coa-re2014 .fn-tab-box {
  position: absolute;
  top: 0;
  right: 0;
}
.coa-re2014 .fn-tab-box.qa-box {
  top: -15px;
}
.coa-re2014 .fn-tab-box.h-art-box {
  top: -40px;
}
.coa-re2014 [class^="tab-"] {
  float: left;
  list-style: none;
  text-align: center;
}
.coa-re2014 [class^="tab-"] a {
  font-size: 15px;
  font-weight: none;
  background: none;
  padding: 0;
}
.coa-re2014 .tab-qa {
  height: 64px;
  width: 97px;
}
.coa-re2014 .tab-qa.active {
  background: url(../img/hot-tab.png) no-repeat;
}
.coa-re2014 .tab-qa.active a {
  color: #fff !important;
}
.coa-re2014 .tab-qa.active a:hover {
  color: #fff !important;
}
.coa-re2014 .tab-qa a {
  padding: 19px 0 0 0;
  color: #333333 !important;
}
.coa-re2014 .tab-qa a:hover {
  color: #999999 !important;
}
.coa-re2014 .tab-art {
  height: 30px;
  width: 80px;
}
.coa-re2014 .tab-art.active {
  background: url(../img/art-tab.png) no-repeat;
}
.coa-re2014 .tab-art.active a {
  color: #333333 !important;
}
.coa-re2014 .tab-art.active a:hover {
  color: #333333 !important;
}
.coa-re2014 .tab-art a {
  padding: 10px 0 0 0;
  color: #333333 !important;
}
.coa-re2014 .tab-art a:hover {
  color: #999999 !important;
}
.coa-re2014 .tab-item {
  display: none;
}
.coa-re2014 .tab-item.active {
  display: block;
}
.coa-re2014 .tab-item .fn-list-link {
  margin-right: 10px;
}

.sider-btn-group .sider-btn-box {
  display: block;
  margin-bottom: 5px;
}
.sider-btn-group .sider-btn-box.inline {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.sider-btn-group .sider-btn-box .btn-sider-main, .sider-btn-group .sider-btn-box .btn-sider-sub {
  padding: 0;
  height: 26px;
  font-size: 13px;
  text-align: center;
  line-height: 2;
}
.sider-btn-group .sider-btn-box .btn-sider-main {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 90px;
  background: url(../img/btn-subscribe.png) no-repeat center center;
  color: #fff;
}
.sider-btn-group .sider-btn-box .btn-sider-sub {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 68px;
  background: url(../img/btn-unsubscribe.png) no-repeat center center;
  color: #333333;
}
.sider-btn-group .sider-btn-box .btn-sider-fb {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: none;
  padding: 0 0 0 40px;
  width: 122px;
  height: 36px;
  background: url(../img/btn-fb.png) no-repeat center center;
  font-size: 12px;
  line-height: 3;
  color: #fff;
}
.sider-btn-group .sider-btn-box .btn-sider-sbu-l {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: none;
  padding: 0;
  width: 162px;
  height: 38px;
  background: url(../img/btn-history.png) no-repeat center center;
  font-size: 13px;
  text-align: center;
  line-height: 3;
  color: #333333;
}

.single-input {
  margin-bottom: 5px;
  width: 162px;
  height: 27px;
  border: none;
  text-indent: 10px;
  background: url(../img/single-input.png) no-repeat center center;
  line-height: 27px;
}

.double-input {
  margin-bottom: 5px;
  padding: 3px 0 0 0;
  width: 162px;
  height: 59px;
  background: url(../img/double-input.png) no-repeat center center;
}
.double-input input {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: 2px;
  width: 115px;
  height: 25px;
  border: none;
  text-indent: 3px;
  line-height: 25px;
}

.login .double-input label {
  margin: 0;
  padding: 0 0 0 10px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.epaper ul {
  margin: 0;
  padding: 0;
}
.epaper a:hover {
  text-decoration: none;
  cursor: pointer;
}

.TagCloud {
  margin: 0px 0px 10px 10px;
  padding: 0;
  width: 211px;
  height: 190px;
  background: url(../img/keyword-bg.png) no-repeat center top;
  overflow: hidden;
}
.TagCloud h2 {
  margin: 0 20px 8px;
  padding: 12px 0 0;
  border: none;
  color: #555555;
}
.TagCloud div {
  background: none;
}

/*# sourceMappingURL=all.css.map */
