.#{$theme} {
  .fn-section {
    margin-bottom: 10px;
  }
  .fn-title-box {
    margin-bottom: 10px;
    min-height: 36px;
    background: url(../img/title-deco.png) no-repeat left bottom;
  }
  .fn-title {
    display: inline-block;
    margin-right: 15px;
    font-size: $font-base + 3px;
    font-weight: bold;
    line-height: 2;
    vertical-align: middle;
    color: $gray-dark;
  }
  .more-box {
    display: inline-block;
    vertical-align: middle;
  }
  .more-link {
    @include inline-block;
    border-bottom: 1px solid darken($c-link, 5%);
    font-size: $font-base - 2px;
    line-height: 1.2;
    &:hover {
      border-bottom: 1px solid darken($c-link-h, 5%);
    }
  }
  .fn-list {
    list-style: none;
  }
  .fn-list-item {
    float: none;
    margin-bottom: 10px;
    padding: 10px 0 0;
  }
  .new-deco {
    .fn-list-item + .fn-list-item  {
      border-top: 1px dashed $gray-light;

    }
  }
  .fn-list-link {
    display: block;
    margin: 0;
    padding: 0;
    font-size: $font-base;
    background: none;
    line-height: 1.5;
    white-space: normal;
  }
  // hot-hot-recommend
  .hot-recommend {
    margin: 0 -12px 10px;
    padding: 0;
    border-top: 3px double #ddd;
    border-bottom: 3px double #ddd;
    background: #f9f9f9;
  }
  .hot-box {
    position: relative;
    margin: 0 206px 0 0;
    padding: 15px 15px 0;
  }
  .cycle-slideshow {
    height: 230px;
    overflow: hidden;
  }
  .cycle-box {}
  .cycle-pic-box {
    position: relative;
    float: left;
    height: 230px;
    width: 234px;
    background: url(../img/hot-pic.png) no-repeat;
    text-align: center;
  }
  .pic-box {
    padding: 8px 0 0 16px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    img {
      width: 200px;
    }
  }
  .cycle-pic-board {
    position: absolute;
    top: -10px;
    left: 50px;
    height: 32px;
    width: 134px;
    background: url(../img/hot-recommend.png) no-repeat center center;
    z-index: 99;
  }
  .cycle-content-box {
    // min-width: 265px;
    margin-left: 240px;
    padding: 8px 0 0;
  }
  .cycle-title {
    @include inline-block;
    margin-bottom: 8px;
    max-height: 50px;
    overflow: hidden;
    a {
      @include inline-block;
      font-size: $font-base + 9px;
    }
  }
  .cycle-article {
    max-height: 107px;
    font-size: $font-base;
    line-height: 1.5;
    overflow: hidden;
  }
  .cycle-page-box {
    // position: absolute;
    // top: 215px;
    // right: 25px;
    // left: 23px;
    // z-index: 999;
    // margin: 0 0 0 240px;
    padding: 0 15px 0 45px;
  }
  .page-btn {
    @include inline-block;
    font-size: $font-base - 3px;
    vertical-align: middle;
  }
  .hot-pager {
    @include inline-block;
    vertical-align: middle;
    span {
      font-size: $font-base + 8px;
      color: $gray-light;
      cursor: pointer;
      &.cycle-pager-active {
        color: $c-link-h;
      }
    }
  }
  .day-star-box {
    position: relative;
    float: right;
    padding: 20px;
    width: 170px;
    height: 228px;
    background: #fff;
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0px;
      width: 4px;
      content: "";
      background: url(../img/star-deco-v.png) center center no-repeat;
    }
  }
  .day-star-pic {
    margin-bottom: 8px;
    width: 170px;
    height: 130px;
    overflow: hidden;
    img {
      width: 170px;
    }
  }
  .day-star-board {
    position: absolute;
    top: -35px;
    right: -15px;
    width: 80px;
    height: 80px;
    background: url(../img/day-star.png) no-repeat center center;
    z-index: 99;
  }
  .plant-info-box {}
  .plant-name {
    // margin-bottom: 3px;
    a {
      @include inline-block;
      font-size: $font-base + 3px;
      line-height: 1.5;
    }
  }
  .scientific-name {
    display: block;
    margin: 0 0 32px 0; 
    height: 28px;
    overflow: hidden;
    font-size: $font-base - 3px;
    line-height: 1.2;
  }
  // tip
  .tip-box {
    display: block;
    white-space: normal;
  }
  .date-box, .news-box {
    @include inline-block;
    font-size: $font-base - 1px;
    color: $gray-light;
    line-height: 1.2;
  }
  .date-box {
    &.flr {
      padding: 4px 0 0 0;
    }
  }
  .tip-title {
    color: $gray-light;
  }
  .tip-kind {
    color: $gray-dark;
  }
  .k-bg  {
    margin: 0 -12px 10px;
    padding: 10px 12px 30px;
    background: #f5f3f1;
    border-top: 1px solid #cfcac5;
    border-bottom: 1px solid #cfcac5;
    & .k-link-box {
      margin-left: 25px;  
    }
  }
  .k-link-box {
    margin-right: 100px;
  }
  // tab
  .fn-tab-box {
    position: absolute;
    top: 0;
    right: 0;
    &.qa-box {
      top: -15px;
    }
    &.h-art-box {
      top: -40px;
    }
  }
  [class^="tab-"] {
    float: left;
    list-style: none;
    text-align: center;
    a {
      font-size: $font-base;
      font-weight: none;
      background: none;
      padding: 0;
    }
  }
  // hot knowledge qa
  .tab-qa {
    height: 64px;
    width: 97px;
    &.active {
      background: url(../img/hot-tab.png) no-repeat;
      a {
        color: #fff !important;
        &:hover {
          color: #fff !important;
        }
      }
    }
    a {
      padding:  19px 0 0 0;
      color: $gray-dark !important;      
      &:hover {
        color: $gray-light !important;
      }
    }
  }
  // hot knowledge article 
  .tab-art {
    height: 30px;
    width: 80px;
    &.active {
      background: url(../img/art-tab.png) no-repeat;
      a {
        color: $gray-dark !important;
        &:hover {
          color: $gray-dark !important;
        }        
      }
    }
    a {
      padding: 10px 0 0 0;
      color: $gray-dark !important;
      &:hover {
        color: $gray-light !important;
      }
    }
  }
  .fn-tab-content {}
  .tab-item {
    display: none;
    &.active {
      display: block;
    }
    .fn-list-link {
      margin-right: 10px;
    }
  }
}
// login 
.sider-btn-group {
  .sider-btn-box {
    display: block;
    margin-bottom: 5px;
    &.inline {
      @include inline-block;
    }    
    .btn-sider-main, .btn-sider-sub {
      padding: 0;
      height: 26px;
      font-size: $font-base - 2px;
      text-align: center;
      line-height: 2;  
    }
    .btn-sider-main {
      @include inline-block;
      width: 90px;
      background: url(../img/btn-subscribe.png) no-repeat center center;
      color: #fff;
    }
    .btn-sider-sub {
      @include inline-block;
      width: 68px;
      background: url(../img/btn-unsubscribe.png) no-repeat center center;
      color: $gray-dark;
    }
    .btn-sider-fb {
      @include inline-block;
      float: none;
      padding: 0 0 0 40px;
      width: 122px;
      height: 36px;
      background: url(../img/btn-fb.png) no-repeat center center;
      font-size: $font-base - 3px;
      line-height: 3;
      color: #fff;
    }
    .btn-sider-sbu-l {
      @include inline-block;
      float: none;
      padding: 0;
      width: 162px;
      height: 38px;
      background: url(../img/btn-history.png) no-repeat center center;
      font-size: $font-base - 2px;
      text-align: center;
      line-height: 3;
      color: $gray-dark;
    }
  }
}
.single-input {
  margin-bottom: 5px;
  width: 162px;
  height: 27px;
  border: none;
  text-indent: 10px;
  background: url(../img/single-input.png) no-repeat center center;
  line-height: 27px;
}
.double-input {
  margin-bottom: 5px;
  padding: 3px 0 0 0;
  width: 162px;
  height: 59px;
  background: url(../img/double-input.png) no-repeat center center;
  input {
    @include inline-block;
    margin-bottom: 2px;
    width: 115px;
    height: 25px;
    border: none;
    text-indent: 3px;
    line-height: 25px;
  }
}
