// *************************************
//
//   coa index revision
//   -> coa revision structures
//
// *************************************

// -------------------------------------
//   Framework
// -------------------------------------

@import "compass";

// -------------------------------------
//   Foundation
// -------------------------------------

@import "variables";
@import "reset";
@import "base";
@import "icon";

// -------------------------------------
//   Components
// -------------------------------------

@import "grid";

// -------------------------------------
//   Content
// -------------------------------------

@import "content";

// -------------------------------------
//   Inbox
// -------------------------------------

.new-activity-box {
  position: fixed;
  top: 100px;
  left: -20px;
  z-index: 999;
}
.n-a-link {
  display: block;
  width: 178px;
  height: 138px;
  background: url(../img/news-activity-d.png) no-repeat center center;
  color: $gray-dark;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .8);
  &:hover {
    color: $gray-dark;
    background: url(../img/news-activity-h.png) no-repeat center center;
    text-decoration: none;
  }
  p {
    margin: 0;
    padding: 21px 20px 0 0;
    font-size: $font-base + 3px;
    text-align: right;
  }
}
.login {
  .double-input {
    label {
      margin: 0;
      padding: 0 0 0 10px;
      @include inline-block;
    }
  }
}
.epaper {
  ul {
    margin: 0;
    padding: 0;
  }
  a {
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}
.TagCloud {
  margin: 0px 0px 10px 10px;
  padding: 0;
  width: 211px;
  height: 190px;
  background: url(../img/keyword-bg.png) no-repeat center top;
  overflow: hidden;
  h2 {
    margin: 0 20px 8px;
    padding: 12px 0 0;
    border: none;
    color: $gray;
  }
  div {
    background: none;
  }
}